{% extends 'app/base.html' %}
{% load static %}
{% block title %}ABOUT US{% endblock title %}
{% block main-content %}



<main id="main">


    
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>About</h2>
            <h3>Find Out More <span>About Us</span></h3>
            
          </div>
  
          <div class="row  m-3 p-5 border">
        {% for a in ab %}
                
              
            <div class= "col-lg-6"  data-aos ="zoom-out" >
              
                
            
                 <img src="{{a.about_image1.url}}" height="400px" class="p-2 img-fluid" width="400px" alt="">
                 
  
             </div>           
            
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center  p-2 " data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-wrap  text-uppercase">{{a.title}}</h3>
              <p class="font-italic">{{a.Subject}}
              </p>
           
              <p class="text-wrap  text-capitalize">
               {{a.description}}
              </p>
             
              
            </div>
            
           {% endfor %}

          
          </div>
        
        </div>
      </section>
      <!-- End About Section -->
    </main>








{% endblock main-content %}
