<!---
<script src="https://gist.github.com/LowerDeez/9a8b30428a96c4b965d059925a7bd659.js"></script>
Django. Send mail with custom html template and context
order_conf.html
-->
<!DOCTYPE html>
<html>
    <body>
        <br>
        <h2>Hi! <b>{{user}}</b></h2>
        <p>Thank you for your order </p>
        <p>Your Total Bill is:<b> {{totalamount}}} </b></p>
        <h4 style="text-align: left;">Thanks</h4>
        <small><i>Regades,</i></small>
        <p style="text-align: left; "><small style="color:blue; " > <b>A.W SONS</b></small> </p>

    </body>
</html>
