{% extends 'app/dashbase.html' %}
{% load static %}
{% block title %}Password change  Done{% endblock title %}
{% block main-content %}
<section id="main-content">
  <section class="wrapper">
<div class="container my-5">
 <div class="row ">
  <h3>{{request.user}}</h3>
  
   <div class="col-sm-2 border-end">
     <ul class="list-unstyled">
       <li class="d-grid"><a href="{% url 'changepassword' %}" class="btn btn-primary">Change password</a></li>
     </ul>
   </div>

<div class="col-sm-9- offset-sm-1 text-center">

<h3 >Password Change Successfully !!</h3>
<div>

    <iframe src="https://giphy.com/embed/jQ7fZUcAY0lXjRdXlG" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>


</div>

</div>
</div>
  </section>
</section>
{% endblock main-content %}