{% extends 'app/dashbase.html' %}
{% load static %}
{% block title %}Customer Profile Form {% endblock title %}
{% block main-content %}
 <!--main content start-->
 <section id="main-content">
    <section class="wrapper">

 <div class="row ">
  <div class="col-sm-4 offset-sm-3">
   <h3 class="text-center  alert alert-info">Customer update Profile Form</h3>
   <hr>

   <form action="" method="post" enctype="multipart/form-data" novalidate class="shadow p-5">
    {% csrf_token %}
    <label for="">Name:</label>
    <br>
    <input type="text" id="" name="" readonly class="form-control" value={{request.user.username}}><br><br>
    <label for="lname">Email:</label>
    <br>
    <input type="text"  readonly class="form-control" value={{request.user.email}}><br>
    
    
     {{form.as_p}}
      
      
        <input type="submit" value="Submit" href="{% url 'viewcustomeredit' %}" class="btn btn-primary">
        <br>
        


   </form>
      
  </div>

 

</div>
</section>
</section>
{% endblock main-content %}